@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
  --primary-color: #003366;
  --secondary-color: #CCCCCC;
  --accent1-color: #E63946;
  --accent2-color: #336699;
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Helvetica', sans-serif;
  --headline-color-on-white: #003366;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #003366;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #336699;
  --nav-link-color: #003366;
  --nav-background-color: #336699;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

/* General Styles */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
}

header img {
  max-width: 200px; /* Adjust the width as needed */
  height: auto;
  margin: 0 auto;
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p, ul {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Hero Section */

.hero {
  position: relative;
  height: 700px;
  background-image: url(/balkanwatch/images/hero.jpg); /* Adjust the file path based on your folder structure */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.newsletter-form {
  margin-top: 1em;
}

.newsletter-form h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.newsletter-form input[type="email"],
.newsletter-form button[type="submit"] {
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  background-color: white;
  color: var(--primary-color);
}

.newsletter-form input[type="email"] {
  width: 100%;
  margin-bottom: 1em;
}

.newsletter-form button[type="submit"] {
  cursor: pointer;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Featured Articles Section */

.featured-articles-header {
  padding: 2em;
}
.featured-articles-header {
  max-width: 800px;
  margin: 0 auto;
}
.featured-articles-header h2 {
  font-family: var(--heading-font);
  font-size: 2.0em;
  margin-bottom: 0.5em;
  text-align: center;
}
.featured-articles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4em;
  margin-top: 2em;
}

.featured-articles h2 {
  margin-bottom: 1em;
  text-align: center;
}

.featured-articles article {
  background-color: var(--paragraph-background-color);
  padding: 1em;
  text-align: center;
}

.featured-articles img {
  max-width: 100%;
}

.featured-articles h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.featured-articles p {
  margin-bottom: 1em;
}

.featured-articles .btn {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: var(--accent1-color);
  color: white;
  text-decoration: none;
}

.featured-articles .btn:hover {
  background-color: var(--accent2-color);
}

/* Footer */
footer {
  background-color: var(--secondary-color) ;
  padding: 1em;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-navigation ul li a:hover {
  color: var(--accent1-color);
}

.footer-contact {
  display: flex;
  align-items: center;
}

.footer-contact .footer-contact-info {
  font-size: 0.9em;
}

.footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-social-icons a {
  display: inline-block;
  margin-right: 0.5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--accent1-color);
  text-align: center;
  line-height: 30px;
  color: var(--secondary-color);
  transition: background-color 0.3s ease;
}

.footer-social-icons a:hover {
  background-color: var(--accent2-color);
}

.footer-bottom {
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
}

.footer-bottom .footer-bottom-text {
  color: var(--primary-color);
}

.footer-bottom .footer-bottom-link {
  color: var(--accent1-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom .footer-bottom-link:hover {
  color: var(--primary-color);
}





